.head {
  background: #ffffff;
  border: 1px solid rgba(23, 23, 23, 0.08);
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // padding: 22px 24px;
    margin: 0px 24px;

    // height: 64px;

    background: #ffffff;

    /* Inside auto layout */
    order: 4;

    .pollen_units_table_input {
      display: flex;
      align-items: center;
      border: 1px solid #a2a2a2;
      border-radius: 70px;
      width: 20%;
      input {
        font-size: 16px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 70px;
        padding: 13px 12px;
      }

      input:focus {
        outline: none;
        border: 1px solid transparent;
        background-color: #ffffff;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        margin-left: 13px;
        display: flex;
        align-items: center;
        text-align: right;
        letter-spacing: 0.03em;
        color: #171717;
      }
      svg {
        margin-left: 15px;
      }
    }

    @media only screen and (max-width: 540px) {
      .pollen_units_table_input {
        display: flex;
        align-items: center;
        border: 1px solid #a2a2a2;
        border-radius: 70px;
        width: 40%;
        input {
          font-size: 16px;
          width: 100%;
          border: 1px solid transparent;
          border-radius: 70px;
          padding: 8px;
        }

        input:focus {
          outline: none;
          border: 1px solid transparent;
          background-color: #ffffff;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          margin-left: 13px;
          display: flex;
          align-items: center;
          text-align: right;
          letter-spacing: 0.03em;
          color: #171717;
        }
        svg {
          margin-left: 15px;
        }
      }
    }

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      font-family: "General sans light";
      /* identical to box height, or 175% */

      display: flex;
      align-items: center;
      letter-spacing: -0.01em;
      text-transform: capitalize;

      /* General/Black */

      color: #171717;
    }

    @media only screen and (max-width: 540px) {
      p {
        font-size: 12px;
      }
    }

    .form__inner__input {
      display: flex;
      flex-direction: column;
      flex: 1;
      max-width: 100%;
      select {
        font-size: 16px;
        border: 1px solid #7a7a7b;
        border-radius: 16px;
        padding: 13px 12px;
        background-color: white;
        color: black;
        -webkit-appearance: none;
      }
      @media only screen and (max-width: 540px) {
        select {
          font-size: 12px;
          border: 1px solid #7a7a7b;
          border-radius: 16px;
          padding: 8px;
          background-color: white;
          color: black;
          -webkit-appearance: none;
        }
      }
      select:focus {
        outline: none;
      }
    }
  }
  .polling_units_table {
    margin: 48px 48px 0px 0px;
    background: #ffffff;
    border: 0.5px solid rgba(23, 23, 23, 0.1);
    box-shadow: 0px 2px 16px rgba(18, 33, 46, 0.04);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;

    .pollen_units_table_input {
      display: flex;
      align-items: center;
      margin: 24px;
      border: 1px solid #a2a2a2;
      border-radius: 70px;
      padding: 1px;
      width: 20%;
      input {
        font-size: 16px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 70px;
        padding: 13px 12px;
      }

      input:focus {
        outline: none;
        border: 1px solid transparent;
        background-color: #ffffff;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        margin-left: 13px;
        display: flex;
        align-items: center;
        text-align: right;
        letter-spacing: 0.03em;
        color: #171717;
      }
      svg {
        margin-left: 15px;
      }
    }
    .pollen_units_table_input:nth-child(2) {
      width: 20%;
    }
  }
  .polling_units_table_cover {
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
    .polling_units_table_inner {
      // overflow-x: scroll;
      // margin: 0px 48px 0px 0px;
      background: #fcfcfc;
      border: 0.5px solid rgba(23, 23, 23, 0.1);
      display: flex;
      justify-content: space-between;
      div {
        padding: 24px;
        margin: 0px;

        p {
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #171717;
        }
      }
      @media only screen and (max-width: 540px) {
        div {
          padding: 14px 12px;
          p {
            font-size: 12px;
          }
        }
      }
      div:nth-child(1) {
        flex: 1;
        max-width: 30%;
      }
      div:nth-child(2) {
        flex: 1;
        max-width: 10%;
      }
      div:nth-child(3) {
        flex: 1;
        max-width: 10%;
      }
      div:nth-child(4) {
        flex: 1;
        max-width: 10%;
      }
      div:nth-child(5) {
        flex: 1;
        max-width: 10%;
        text-align: center;
      }
      @media only screen and (max-width: 540px) {
        div:nth-child(1) {
          flex: 1;
          max-width: 20%;
        }
        div:nth-child(2) {
          flex: 1;
          max-width: 15%;
        }
        div:nth-child(3) {
          flex: 1;
          max-width: 20%;
        }
        div:nth-child(4) {
          flex: 1;
          max-width: 20%;
        }
        div:nth-child(5) {
          flex: 1;
          max-width: 20%;
          text-align: center;
        }
      }
    }
    .polling_units_table_inner2 {
      background: #fcfcfc;
      border: 0.5px solid rgba(23, 23, 23, 0.1);
      display: flex;
      justify-content: space-between;
      div {
        padding: 24px;
        margin: 0px;

        p {
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #171717;
        }
      }
      @media only screen and (max-width: 540px) {
        div {
          padding: 14px 12px;
          p {
            font-size: 12px;
          }
        }
      }
      div:nth-child(1) {
        flex: 1;
        max-width: 30%;
      }
      div:nth-child(2) {
        flex: 1;
        max-width: 20%;
      }
      div:nth-child(3) {
        flex: 1;
        max-width: 10%;
      }
      div:nth-child(4) {
        flex: 1;
        max-width: 30%;
      }
      @media only screen and (max-width: 540px) {
        div:nth-child(1) {
          flex: 1;
          max-width: 30%;
        }
        div:nth-child(2) {
          flex: 1;
          max-width: 35%;
        }
        div:nth-child(3) {
          flex: 1;
          max-width: 10%;
        }
        div:nth-child(4) {
          flex: 1;
          max-width: 10%;
        }
      }
    }
  }
  @media only screen and (max-width: 920px) {
    .polling_units_table_cover {
      overflow-x: scroll;
      width: 100%;

      .polling_units_table_inner2 {
        background: #fcfcfc;
        width: 250%;
      }
    }
  }
}
